.settings {
    display: flex;
    flex-direction: column;
    font-size: 25px;

}
.pair {
    display: inline-flex;

}

.span {
    width: 120px;

}

.input {
    margin-left: 15px;
    width: 100px;
    height: 17px;
}